body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
  /* Adding new */
  height: 100vh;
  background: linear-gradient(120deg,#0E5FD8 100%,#52E5E7 10%);

  /*background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);*/
  /* background-image: linear-gradient(135deg, #071952 10%, #088395 100%); */
  /* background: linear-gradient(to top left, #0E5FD8 80%, #fbcfcf 10%); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
